* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow: hidden;
}

.main {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  text-align: center;
}

.building {
  position: relative;
  width: min(100vw, calc(100vh * 2.62));
  aspect-ratio: 1080/1920;
}

.building-image {
  width: 100%;
  height: 100%;
  object-fit: fill;
}

.floors {
  position: absolute;
  inset: 0;
  width: 29.5%;
  height: 70%;
  display: flex;
  flex-direction: column;
  gap: 1.7%;
  inset: 0;
  left: 34%;
  top: 21%;
}

.floor {
  position: absolute;
  width: 100%;
  height: 4.5%;
  background: white;
  opacity: 0.1;
  transition: .3s;
  left: 0;
}

.floor-1 {
  position: relative;
  top: 15%;
}

.floor-2 {
  position: relative;
  top: 13%;
}

.floor-3 {
  position: relative;
  top: 12%;
}

.floor-4 {
  position: relative;
  top: 11%;
}

.floor-5 {
  position: relative;
  top: 10%;
}

.floor-6 {
  position: relative;
  top: 9%;
}

.floor-7 {
  position: relative;
  top: 9%;
}

.floor-8 {
  position: relative;
  top: 8.5%;
}

.floor-9 {
  position: relative;
  top: 8%;
}

.floor-10 {
  position: relative;
  top: 7.0%;
}

.floor-11 {
  position: relative;
  top: 6%;
}

.floor-12 {
  position: relative;
  top: 6%;
}

.floor-13 {
  position: relative;
  top: 5.5%;
}

.floor-14 {
  position: relative;
  top: 5%;
}

.floor:hover {
  opacity: 0.5;
  transform: 3s;
  cursor: pointer;
  background-color: white;
}

.floor-1 {
  position: relative;
}

.hiden-info {
  position: fixed;
  inset: 0;

  background: rgba(0, 0, 0, 0.5);

  display: flex;
  justify-content: center;
  align-items: center;
}

.modal {
  height: 100%;
  width: 70%;
  padding: 30px;
  position: relative;
  background: white;
  border-radius: 10px;
}

.floor-main {
  position: relative;
  width: 90vw;
  max-width: 815px;
  aspect-ratio: 1015 / 555;
  background-image: url("./assets/maket.jpg");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  margin: 0 auto;
}

.button-exit {
  display: flex;
  margin-left: auto;
  bottom: 19px;
  position: relative;
  border: none;
  background-color: rgb(117, 0, 0);
  color: white;
  border-radius: 10%;
  width: 80px;
  padding: 0 15px;
  transition: background-color 0.5s ease, color 0.5s ease;
}

.button-exit:hover {
  cursor: pointer;
  background-color: brown;

}

.floor-title {
  position: relative;
  left: 50%;
}

.apartaments {
  /* background-color: black; */
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  /* opacity: 0.2; */
  text-align: center;
  display: flex;
  flex-wrap: wrap;
}

.apartament {
  /* background-color: black; */
  position: absolute;
  opacity: 0.7;
  transition: opacity 0.3s ease;
  cursor: pointer;
}

.apartament {
  opacity: 0;
  transition: 0.3s;
}

.show-status .apartament.free {
  background: green;
  opacity: 0.5;
}

.show-status .apartament.reserved {
  background: red;
  opacity: 0.5;
}


.apartament-1 {
  left: 39.26%;
  top: 39.06%;
  width: 3.73%;
  height: 21.03%;
  background-color: transparent
}

.apartament-1:hover {
  background-color: red;
}

.apartament-2 {
  left: 50%;
  top: 39%;
  width: 4%;
  height: 23%;
  background-color: transparent;
}

.apartament-2:hover {
  background-color: green;
}

.apartament-3 {
  left: 58%;
  top: 39%;
  width: 3%;
  height: 20%;
  background-color: transparent;
}

.apartament-3:hover {
  background-color: green;
}

.apartament-4 {
  left: 62%;
  top: 39%;
  width: 3%;
  height: 17%;
  background-color: transparent;
}

.apartament-4:hover {
  background-color: orange;
}

.tooltip {
  position: absolute;
  top: 80px;
  right: 20px;
  width: 250px;
  background: white;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, .3);
  z-index: 1000;
}

.tooltip h3 {
  margin-bottom: 10px;
}

.tooltip p {
  margin: 8px 0;
}

.tooltip-close {
  border: none;
  background-color: rgb(117, 0, 0);
  color: white;
  border-radius: 10%;
  width: 80px;
  padding: 0 15px;
  transition: background-color 0.5s ease, color 0.5s ease;
}

.tooltip-close:hover {
  cursor: pointer;
  background-color: brown;
}

.rent-btn {
  background-color: greenyellow;
  border: none;
  margin-left: 40px;
  transition: background-color 0.5s ease, color 0.5s ease;
}

.rent-btn:hover {
  background-color: green;
  cursor: pointer;
}

@media (min-width: 1401px) {
  .apartament-1 {
    left: 35%;
    top: 51%;
    width: 4.5%;
    height: 16%;
  }

  .apartament-2 {
    left: 50%;
    top: 51%;
    width: 5%;
    height: 23%;
  }

  .apartament-3 {
    left: 58%;
    top: 51%;
    width: 4%;
    height: 20%;
    background-color: transparent;
  }

  .apartament-4 {
    left: 62%;
    top: 51%;
    width: 4%;
    height: 18%;
    background-color: transparent;
  }
}

@media (min-width: 1024px) and (max-width: 1400px) {

  .modal {
    width: 85%;
  }

  /* .floors {
    height: 78%;
    top: 25%;
    width: 385px;
  } */

  .apartament-1 {
    left: 35.5%;
    top: 51%;
    width: 4%;
    height: 19%;
  }

  .apartament-2 {
    left: 50.5%;
    top: 51%;
    width: 4%;
    height: 23%;
  }

  .apartament-3 {
    left: 58%;
    top: 51%;
    width: 4%;
    height: 20%;
    background-color: transparent;
  }

  .apartament-4 {
    left: 62%;
    top: 51%;
    width: 4%;
    height: 18%;
    background-color: transparent;
  }

}

@media (min-width: 901px) and (max-width: 1024px) {

  .modal {
    width: 95%;
  }

  .tooltip {
    width: 220px;
  }

  /* .floors {
    height: 78%;
    top: 25%;
  } */

  .apartament-1 {
    left: 35.5%;
    top: 51%;
    width: 4%;
    height: 18%;
  }

  .apartament-2 {
    left: 50.5%;
    top: 51%;
    width: 4%;
    height: 23%;
  }

  .apartament-3 {
    left: 58%;
    top: 51%;
    width: 4%;
    height: 20%;
  }

  .apartament-4 {
    left: 62.3%;
    top: 51%;
    width: 3.5%;
    height: 19%;
  }


}

@media (min-width: 769px) and (max-width: 900px) {
  .modal {
    width: 100%;
    height: 100%;
    border-radius: 0;
  }

  .tooltip {
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    top: auto;
    right: auto;
  }

  .apartament-1 {
    left: 35.5%;
    top: 51%;
    width: 4%;
    height: 17%;
  }

  .apartament-2 {
    left: 50.5%;
    top: 51%;
    width: 4%;
    height: 23%;
  }

  .apartament-3 {
    left: 58%;
    top: 51%;
    width: 4%;
    height: 21%;
  }

  .apartament-4 {
    left: 62%;
    top: 51%;
    width: 4%;
    height: 16%;
  }
}

@media (max-width: 768px) {

  .modal {
    width: 100%;
    height: 100%;
    border-radius: 0;
  }

  .tooltip {
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    top: auto;
    right: auto;
  }


  .apartament-1 {
    left: 35.5%;
    top: 51%;
    width: 4%;
    height: 17%;
  }

  .apartament-2 {
    left: 50.5%;
    top: 51%;
    width: 4%;
    height: 23%;
  }

  .apartament-3 {
    left: 58%;
    top: 51%;
    width: 4%;
    height: 20%;
  }

  .apartament-4 {
    left: 62%;
    top: 51%;
    width: 4%;
    height: 16%;
  }

}

/* @media (max-width: 1401px) { */